Repository amangalieversynstudy/diplom-work-main: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

Path conditions:
  frontend-lint: any of: frontend/**/*, .gitlab-ci.yml
  frontend-build: any of: frontend/**/*, .gitlab-ci.yml
  backend-test: any of: backend/**/*, tests/**/*, .gitlab-ci.yml
  backend-build-image: any of: backend/**/*, .gitlab-ci.yml
  smoke-backend-image: any of: backend/**/*, .gitlab-ci.yml

feat(analytics): staff learning-analytics dashboard
  backend/game/urls.py
  backend/game/views.py
  backend/users/views.py
  frontend/components/Layout.jsx
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/lib/api.js
  frontend/pages/analytics.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

feat(auth): password recovery, resend activation, form polish
  backend/users/urls.py
  backend/users/urls_auth.py
  backend/users/views.py
  backend/users/views_auth.py
  backend/users/views_password.py
  frontend/components/PasswordInput.jsx
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/lib/api.js
  frontend/pages/forgot-password.jsx
  frontend/pages/login.jsx
  frontend/pages/register.jsx
  frontend/pages/reset-password-confirm.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

fix(missions): keep header readable on narrow screens
  frontend/pages/missions/[id].jsx
Due: frontend-lint, frontend-build

fix(worlds): usable mission map on mobile
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/pages/worlds/index.js
Due: frontend-lint, frontend-build

fix(worlds): mobile list for adventure map + correct node coords/status
  frontend/components/AdventureMap.jsx
Due: frontend-lint, frontend-build

fix(auth): keep resend-activation banner on failed login
  frontend/lib/api.js
Due: frontend-lint, frontend-build

fix(auth): explicit account_inactive signal on login
  backend/tests/test_auth.py
  backend/users/views_auth.py
  frontend/pages/login.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

feat(auth): verify email changes via signed confirmation link
  backend/tests/test_auth.py
  backend/users/urls_auth.py
  backend/users/views.py
  backend/users/views_auth.py
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/lib/api.js
  frontend/pages/confirm-email.jsx
  frontend/pages/profile.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

feat(game): achievements with badges, progress, and unlock toasts
  backend/game/achievements.py
  backend/game/migrations/0010_userachievement.py
  backend/game/models.py
  backend/game/urls.py
  backend/game/views.py
  backend/tests/test_achievements.py
  frontend/components/AchievementsPanel.jsx
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/lib/api.js
  frontend/pages/missions/[id].jsx
  frontend/pages/profile.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

feat(auth): teacher self-registration via invite code
  backend/core/settings/base.py
  backend/core/settings/local.py
  backend/tests/test_teacher_registration.py
  backend/users/serializers_auth.py
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/lib/api.js
  frontend/pages/register.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

feat(teacher): staff cabinet with per-student progress and stuck flag
  backend/game/urls.py
  backend/game/views.py
  backend/tests/test_teacher_students.py
  frontend/components/Layout.jsx
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/lib/api.js
  frontend/pages/teacher.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

fix(auth): enable teacher registration in prod with a default invite code
  backend/core/settings/production.py
Due: backend-test, backend-build-image, smoke-backend-image

feat(teacher): owner-scoped course Studio (Track/Location/Mission CRUD)
  backend/game/migrations/0011_track_owner.py
  backend/game/models.py
  backend/game/permissions.py
  backend/game/studio.py
  backend/game/urls.py
  backend/game/views.py
  backend/tests/test_studio.py
  backend/tests/test_teacher_students.py
  frontend/components/Layout.jsx
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/lib/api.js
  frontend/pages/studio/[id].jsx
  frontend/pages/studio/index.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

feat(streak): daily streak tracking, visible streak + in-app & email reminders
  backend/game/management/commands/send_streak_reminders.py
  backend/game/models.py
  backend/tests/test_streak.py
  backend/tests/test_streak_reminder.py
  backend/users/migrations/0006_profile_last_streak_date.py
  backend/users/migrations/0007_profile_last_streak_reminder.py
  backend/users/models.py
  backend/users/serializers.py
  backend/users/views.py
  frontend/components/Layout.jsx
  frontend/components/StreakReminder.jsx
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/pages/login.jsx
  frontend/pages/profile.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

feat(streak): in-process daily scheduler for reminder emails (no extra service)
  backend/game/apps.py
  backend/game/scheduler.py
  backend/tests/test_streak_reminder.py
Due: backend-test, backend-build-image, smoke-backend-image

feat(course): expand Python basics course + enforce code-task output
  backend/game/fixtures/intro_course.json
  frontend/components/CodeRunnerPanel.jsx
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

feat(missions): hero reacts to quizzes + level-up celebration
  frontend/components/LevelUpBurst.jsx
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/pages/missions/[id].jsx
Due: frontend-lint, frontend-build

chore: tidy comments and normalise migration headers
  backend/core/settings/production.py
  backend/game/apps.py
  backend/game/migrations/0005_localized_fields.py
  backend/game/migrations/0006_track_model.py
  backend/game/signals.py
  backend/game/tests/test_missions_api.py
  backend/game/views.py
  backend/tests/test_profile.py
  backend/users/models.py
  backend/users/views.py
  backend/users/views_auth.py
  frontend/lib/api.js
  frontend/pages/missions/[id].jsx
  frontend/pages/worlds/index.js
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

feat(course): add capstone mission (final mini-project)
  backend/game/fixtures/intro_course.json
Due: backend-test, backend-build-image, smoke-backend-image

feat(worlds): hero marker that travels to the current quest node
  frontend/pages/worlds/index.js
Due: frontend-lint, frontend-build

chore: trim verbose scheduler docstring
  backend/game/scheduler.py
Due: backend-test, backend-build-image, smoke-backend-image
