Repository amangalieversynstudy/diplom-work-main: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

Path conditions:
  frontend-lint: any of: frontend/**/*, .gitlab-ci.yml
  frontend-build: any of: frontend/**/*, .gitlab-ci.yml
  backend-test: any of: backend/**/*, tests/**/*, .gitlab-ci.yml
  backend-build-image: any of: backend/**/*, .gitlab-ci.yml
  smoke-backend-image: any of: backend/**/*, .gitlab-ci.yml

feat: add Resend HTTP email backend via django-anymail (Railway blocks SMTP)
  backend/core/settings/base.py
  backend/requirements.txt
Due: backend-test, backend-build-image, smoke-backend-image

fix: class.js should also read NEXT_PUBLIC_API_BASE (was only checking NEXT_PUBLIC_API_URL)
  frontend/lib/class.js
Due: frontend-lint, frontend-build

fix: quiz answer check — support options[].isCorrect format (fixtures use it, not correct_answer)
  frontend/pages/missions/[id].jsx
Due: frontend-lint, frontend-build

feat: switch from gunicorn to daphne (ASGI) for WebSocket support (code runner)
  railway.toml
Due: none

fix: stop loading duplicate mission_tasks_intro fixture; delete stale tasks pk 1-3 from prod
  railway.toml
Due: none

fix: use TOML literal string in startCommand to avoid quote conflicts
  railway.toml
Due: none

feat: subprocess fallback for code runner when Docker is unavailable (Railway)
  backend/game/runner.py
Due: backend-test, backend-build-image, smoke-backend-image

fix: add mission prerequisites for sequential unlock + disable Gemini safety filters (false positives on RPG theme)
  backend/game/fixtures/intro_course.json
  backend/game/views.py
Due: backend-test, backend-build-image, smoke-backend-image

fix: correct ai-assist URL — remove stray /game/ prefix
  backend/requirements.txt
Due: backend-test, backend-build-image, smoke-backend-image

fix: map task progress by p.task when p.task_id absent — stepper tasks were always locked
  frontend/pages/missions/[id].jsx
Due: frontend-lint, frontend-build

fix: remove /game/ prefix from ai-assist URL (apply to main repo)
  frontend/lib/api.js
Due: frontend-lint, frontend-build

fix: remove double ai_summons decrement + resizable terminal via drag handle
  frontend/components/CodeRunnerPanel.jsx
Due: frontend-lint, frontend-build

fix: switch Gemini to new google-genai SDK + gemini-2.0-flash model (v1beta deprecated)
  backend/game/views.py
  backend/requirements.txt
Due: backend-test, backend-build-image, smoke-backend-image

fix: embed system prompt in contents — systemInstruction unsupported in v1
  backend/game/views.py
Due: backend-test, backend-build-image, smoke-backend-image

fix: switch default Gemini model to gemini-2.5-flash
  backend/game/views.py
Due: backend-test, backend-build-image, smoke-backend-image

fix: increase terminal default height to 380px + max 700px for better message visibility
  frontend/components/CodeRunnerPanel.jsx
Due: frontend-lint, frontend-build

fix: increase terminal to 480px default + enable scrolling for long messages
  frontend/components/CodeRunnerPanel.jsx
  frontend/components/Terminal.jsx
Due: frontend-lint, frontend-build

fix: remove overflow-hidden + increase terminal to 550px — allow proper scrolling
  frontend/components/CodeRunnerPanel.jsx
Due: frontend-lint, frontend-build

fix: word-wrap AI hint at 70 chars + simpler border — xterm doesn't auto-wrap
  frontend/components/CodeRunnerPanel.jsx
Due: frontend-lint, frontend-build

fix: responsive mission layout — stack vertically below xl (1280px), editor visible on narrow screens
  frontend/pages/missions/[id].jsx
Due: frontend-lint, frontend-build

fix: increase Gemini max_tokens to 2048 + collect all parts (gemini-2.5 thinking eats tokens)
  backend/game/views.py
Due: backend-test, backend-build-image, smoke-backend-image
