Repository amangalieversynstudy/diplom-work-main: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

Path conditions:
  frontend-lint: any of: frontend/**/*, .gitlab-ci.yml
  frontend-build: any of: frontend/**/*, .gitlab-ci.yml
  backend-test: any of: backend/**/*, tests/**/*, .gitlab-ci.yml
  backend-build-image: any of: backend/**/*, .gitlab-ci.yml
  smoke-backend-image: any of: backend/**/*, .gitlab-ci.yml

fix: increase Gemini max_tokens to 2048 + collect all parts (gemini-2.5 thinking eats tokens)
  backend/game/views.py
Due: backend-test, backend-build-image, smoke-backend-image

docs: sync README with actual stack — Gemini 2.5 + Resend + Railway/Vercel + WS runner
  README.md
Due: none

docs: expand backend/README + file_overview with runner WS, AI, Railway files
  backend/README.md
  docs/file_overview.md
Due: backend-test, backend-build-image, smoke-backend-image

chore: gitignore service files and document drafts
  .gitignore
Due: none

feat(theme): full palette + card/modal vars + eye-friendly green
  frontend/styles/globals.css
  frontend/tailwind.config.js
Due: frontend-lint, frontend-build

fix(card): use theme vars instead of hardcoded #080c1c
  frontend/components/Card.jsx
Due: frontend-lint, frontend-build

fix(modal): theme-aware overlay and body colors for light theme
  frontend/components/ConfirmModal.jsx
Due: frontend-lint, frontend-build

style(buttons): swap dark:shadow-emerald for shadow-glow utility
  frontend/components/AnimatedHero.jsx
  frontend/pages/index.js
Due: frontend-lint, frontend-build

feat(runner): always-on reset button + hint output to terminal
  frontend/components/CodeRunnerPanel.jsx
Due: frontend-lint, frontend-build

fix(map): horizontal scroll on narrow viewport + fog-of-war on locked nodes
  frontend/components/AdventureMap.jsx
Due: frontend-lint, frontend-build

feat(missions): parchment quest layout + RPG standby + accept-challenge button
  frontend/components/MissionStepper.jsx
  frontend/pages/missions/[id].jsx
Due: frontend-lint, frontend-build

fix(i18n): translate hardcoded RU to t() across auth/profile/class/missions/layout
  frontend/components/Layout.jsx
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/pages/class.jsx
  frontend/pages/leaderboard.jsx
  frontend/pages/login.jsx
  frontend/pages/profile.jsx
  frontend/pages/register.jsx
  frontend/pages/verify-email.js
  frontend/pages/worlds/[id].jsx
  frontend/pages/worlds/index.js
Due: frontend-lint, frontend-build

feat(content): first mission is hello world, drop legacy fixture
  backend/game/fixtures/intro_course.json
  backend/game/fixtures/mission_tasks_intro.json
Due: backend-test, backend-build-image, smoke-backend-image

feat(leaderboard): streak field + flat serializer + RPG seed heroes
  backend/game/management/commands/seed_leaderboard.py
  backend/game/serializers.py
  backend/game/views.py
  backend/users/migrations/0005_profile_streak.py
  backend/users/models.py
Due: backend-test, backend-build-image, smoke-backend-image

fix(layout): full-bleed mission screen + solid header to stop squeeze/overlap
  frontend/components/Layout.jsx
  frontend/pages/missions/[id].jsx
Due: frontend-lint, frontend-build

fix(i18n): wire landing, 404, confirm, world detail and code runner to t()
  frontend/components/AnimatedHero.jsx
  frontend/components/CodeRunnerPanel.jsx
  frontend/components/ConfirmModal.jsx
  frontend/components/FeaturesSection.jsx
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/pages/404.jsx
  frontend/pages/class.jsx
  frontend/pages/worlds/[id].jsx
Due: frontend-lint, frontend-build

feat(missions): Codemancer-style spellbook decor + finish quest i18n
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/pages/missions/[id].jsx
  frontend/tailwind.config.js
Due: frontend-lint, frontend-build

fix(i18n): add missing home dictionary + localize worlds map, meta, 429 fallback
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/lib/api.js
  frontend/pages/_app.js
  frontend/pages/index.js
  frontend/pages/worlds/index.js
Due: frontend-lint, frontend-build

fix(nav): dedicated close button anchored to drawer corner
  frontend/components/Layout.jsx
Due: frontend-lint, frontend-build

fix(nav): match language toggle to theme switcher styling
  frontend/components/Layout.jsx
Due: frontend-lint, frontend-build

fix(missions): make page chrome respect light theme
  frontend/pages/missions/[id].jsx
Due: frontend-lint, frontend-build
