Repository amangalieversynstudy/diplom-work-main: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

frontend-lint:
  image: node:20-alpine
  stage: lint
  cache:
    key: frontend-node
    paths:
    - frontend/node_modules/
    policy: pull-push
  script:
  - cd frontend
  - npm ci --no-audit --no-fund || npm install --no-audit --no-fund
  - npx next lint || true

frontend-build:
  image: node:20-alpine
  stage: frontend
  needs:
  - frontend-lint
  cache:
    key: frontend-node
    paths:
    - frontend/node_modules/
    policy: pull
  variables:
    NEXT_TELEMETRY_DISABLED: 1
  script:
  - cd frontend
  - npm ci --no-audit --no-fund || npm install --no-audit --no-fund
  - npm run build
  artifacts:
  ...

backend-test:
  image: python:3.11-slim
  stage: test
  before_script:
  - apt-get update && apt-get install -y --no-install-recommends build-essential libpq-dev && rm -rf /var/lib/apt/lists/*
  - pip install --no-cache-dir -r backend/requirements.txt
  script:
  - python -m pytest -q

backend-build-image:
  image: docker:27.2.0
  services:
  - name: docker:27.2.0-dind
    alias: docker
    command:
    - --tls=false
  stage: build
  variables:
    DOCKER_BUILDKIT: 1
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  needs:
  - backend-test
  before_script:
  - apk add --no-cache bash
  ...

smoke-backend-image:
  image: docker:27.2.0
  services:
  - name: docker:27.2.0-dind
    alias: docker
    command:
    - --tls=false
  stage: smoke
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  needs:
  - job: backend-build-image
    optional: true
  before_script:
  ...

Fix Railway deployment config + secure SSH keys
  .gitignore
  Procfile
  railway.json
  requirements.txt
Due: none

Fix Railway build: remove custom buildCommand, let Nixpacks handle Python install
  railway.json
Due: none

feat: add production docker and railway config
  Dockerfile.backend
  Dockerfile.frontend
  railway.toml
Due: none

feat: configure Railway multi-service deployment
  Dockerfile.backend
  Dockerfile.frontend
  backend/core/settings/base.py
  backend/requirements.txt
  frontend/railway.toml
  railway.toml
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

fix: Railway frontend — use local Dockerfile inside /frontend dir
  frontend/Dockerfile
  frontend/railway.toml
Due: frontend-lint, frontend-build

fix: frontend Dockerfile multi-stage build — install all deps before build
  Dockerfile.frontend
Due: none

fix: move autoprefixer/postcss/eslint to dependencies for Railway build
  frontend/package.json
Due: frontend-lint, frontend-build

fix: disable ESLint during production build
  frontend/next.config.js
Due: frontend-lint, frontend-build

fix: remove COPY public — folder does not exist in frontend
  Dockerfile.frontend
Due: none

fix: use python3 in start command, remove conflicting railway.json
  railway.json
  railway.toml
Due: none

fix: use semicolons in start command so gunicorn always starts
  railway.toml
Due: none

debug: add verbose startup logging to diagnose backend crash
  railway.toml
Due: none

fix: wrap startCommand in sh -c so shell builtins work
  railway.toml
Due: none

chore: clean up debug logging in railway startCommand
  railway.toml
Due: none

feat: auto-load production fixtures (ranks, class_roles, intro_course, mission_tasks_intro) on deploy
  railway.toml
Due: none

fix: auto-activate new users when email backend is console (no real email delivery)
  backend/users/views_auth.py
Due: backend-test, backend-build-image, smoke-backend-image

fix: add EMAIL_TIMEOUT=10s to prevent SMTP hang from killing gunicorn worker
  backend/core/settings/base.py
Due: backend-test, backend-build-image, smoke-backend-image

feat: also load test_users fixture (includes admin superuser)
  railway.toml
Due: none

fix: log email send failures during registration instead of silently swallowing
  backend/users/views_auth.py
Due: backend-test, backend-build-image, smoke-backend-image

feat: support EMAIL_USE_SSL env var for SMTP via port 465
  backend/core/settings/base.py
Due: backend-test, backend-build-image, smoke-backend-image

feat: add Resend HTTP email backend via django-anymail (Railway blocks SMTP)
  backend/core/settings/base.py
  backend/requirements.txt
Due: backend-test, backend-build-image, smoke-backend-image

Path conditions:
  frontend-lint: any of: frontend/**/*, .gitlab-ci.yml
  frontend-build: any of: frontend/**/*, .gitlab-ci.yml
  backend-test: any of: backend/**/*, tests/**/*, .gitlab-ci.yml
  backend-build-image: any of: backend/**/*, .gitlab-ci.yml
  smoke-backend-image: any of: backend/**/*, .gitlab-ci.yml
