Repository amangalieversynstudy/diplom-work-main: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

Path conditions:
  frontend-lint: any of: frontend/**/*, .gitlab-ci.yml
  frontend-build: any of: frontend/**/*, .gitlab-ci.yml
  backend-test: any of: backend/**/*, tests/**/*, .gitlab-ci.yml
  backend-build-image: any of: backend/**/*, .gitlab-ci.yml
  smoke-backend-image: any of: backend/**/*, .gitlab-ci.yml

fix(missions): make page chrome respect light theme
  frontend/pages/missions/[id].jsx
Due: frontend-lint, frontend-build

fix(home): brighten cards with bg-panel for contrast
  frontend/pages/index.js
Due: frontend-lint, frontend-build

fix(scroll): stop page cutting off mid-way under Lenis
  frontend/styles/globals.css
Due: frontend-lint, frontend-build

fix(scroll): snappier feel — shorter duration + cubic ease-out
  frontend/pages/_app.js
Due: frontend-lint, frontend-build

fix(auth): make email truly optional in registration
  backend/users/views_auth.py
  frontend/pages/register.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

feat(responsive): scale content width on 2K/4K monitors
  frontend/components/Layout.jsx
  frontend/pages/index.js
  frontend/pages/worlds/index.js
  frontend/tailwind.config.js
Due: frontend-lint, frontend-build

feat(missions): add Codemancer pixel-art stage with HP/MP/level HUD
  frontend/components/CodemancerStage.jsx
  frontend/pages/missions/[id].jsx
Due: frontend-lint, frontend-build

feat(game): add conversational AI mentor endpoint (Gemini multi-turn)
  backend/game/urls.py
  backend/game/views.py
Due: backend-test, backend-build-image, smoke-backend-image

feat(missions): add Codemancer chat-mage mentor panel
  frontend/components/AIMentorChat.jsx
  frontend/components/CodeRunnerPanel.jsx
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/lib/api.js
Due: frontend-lint, frontend-build

style(missions): reskin editor controls + parchment decor (Codemancer)
  frontend/components/CodeRunnerPanel.jsx
  frontend/pages/missions/[id].jsx
Due: frontend-lint, frontend-build

fix(security): harden prod runner, enforce secret key, lock CORS
  .gitlab-ci.disabled.yml
  .gitlab-ci.yml
  .gitlab-mr-template.md
  backend/.coverage
  backend/core/settings/base.py
  backend/core/settings/production.py
  backend/coverage.xml
  backend/game/runner.py
  backend/game/tests/test_runner_fallback_gate.py
  backend/junit.xml
  backend/requirements.txt
  docs/gitlab.md
  railway.toml
  scripts/check_gitlab_vars.sh
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

fix(cors): allow this project's Vercel preview/prod origins via regex
  backend/core/settings/production.py
Due: backend-test, backend-build-image, smoke-backend-image

test: make suite Redis-free and refresh two stale tests
  backend/core/settings/test.py
  backend/game/tests/test_missions_api.py
  backend/tests/test_profile.py
Due: backend-test, backend-build-image, smoke-backend-image

fix(layout): keep header wordmark clear of menu button on phones
  frontend/components/Layout.jsx
Due: frontend-lint, frontend-build

fix(i18n): replace dev-facing auth copy with user-facing text
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
Due: frontend-lint, frontend-build

fix(ai-mentor): drop unsupported systemInstruction on Gemini v1
  backend/game/views.py
Due: backend-test, backend-build-image, smoke-backend-image

fix(runner): execute code via Piston when Docker is unavailable
  backend/core/settings/base.py
  backend/core/settings/production.py
  backend/core/settings/test.py
  backend/game/runner.py
Due: backend-test, backend-build-image, smoke-backend-image

fix(runner): use Judge0 sandbox instead of whitelist-only Piston
  backend/core/settings/base.py
  backend/core/settings/production.py
  backend/core/settings/test.py
  backend/game/runner.py
Due: backend-test, backend-build-image, smoke-backend-image

feat(mission): react scene to code run/pass/fail + resizable editor
  frontend/components/CodeRunnerPanel.jsx
  frontend/components/CodemancerStage.jsx
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/pages/missions/[id].jsx
Due: frontend-lint, frontend-build

fix(ai-mentor): keep Sage drawer close button reachable above navbar
  frontend/components/AIMentorChat.jsx
Due: frontend-lint, frontend-build

feat(analytics): staff learning-analytics dashboard
  backend/game/urls.py
  backend/game/views.py
  backend/users/views.py
  frontend/components/Layout.jsx
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/lib/api.js
  frontend/pages/analytics.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image
