Repository amangalieversynstudy/diplom-work-main: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

Path conditions:
  frontend-lint: any of: frontend/**/*, .gitlab-ci.yml
  frontend-build: any of: frontend/**/*, .gitlab-ci.yml
  backend-test: any of: backend/**/*, tests/**/*, .gitlab-ci.yml
  backend-build-image: any of: backend/**/*, .gitlab-ci.yml
  smoke-backend-image: any of: backend/**/*, .gitlab-ci.yml

test: set test locale and restore gitignore
  .gitignore
  backend/core/settings/test.py
Due: backend-test, backend-build-image, smoke-backend-image

feat: обновление зависимостей js-yaml и glob, добавление новых миграций и задач миссий
  backend/game/fixtures/mission_tasks_intro.json
  backend/game/migrations/0008_alter_track_id.py
  frontend/package-lock.json
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

fix: resolve core bugs, update profile class switch, and fix i18n
  backend/game/management/commands/load_demo_content.py
  backend/game/views.py
  frontend/lib/class.js
  frontend/lib/i18n.js
  frontend/pages/class.jsx
  frontend/pages/profile.jsx
  frontend/pages/register.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

feat: implement secure Docker-in-Docker code runner and connect frontend panel
  backend/game/runner.py
  backend/game/urls.py
  backend/game/views.py
  backend/requirements.txt
  docker-compose.yml
  frontend/components/CodeRunnerPanel.jsx
  frontend/lib/api.js
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

fix: remove unused 'chosen' variable in class page to pass CI linter
  frontend/pages/class.jsx
Due: frontend-lint, frontend-build

perf: optimize database queries with select_related and prefetch_related
  backend/game/views.py
  backend/users/views.py
Due: backend-test, backend-build-image, smoke-backend-image

fix: add memory limit and safe decoding to sandbox logs
  backend/game/runner.py
Due: backend-test, backend-build-image, smoke-backend-image

fix: correct prefetch_related name from locations to worlds in TrackViewSet
  backend/game/views.py
Due: backend-test, backend-build-image, smoke-backend-image

fix(auth): load .env variables in settings and update requirements
  requirements.txt
Due: none

feat(ui): устранен кумулятивный сдвиг макета (CLS) и интегрированы анимации framer-motion для карточек классов
  frontend/components/Layout.jsx
  frontend/package-lock.json
  frontend/pages/class.jsx
  frontend/styles/globals.css
  package-lock.json
  package.json
Due: frontend-lint, frontend-build

fix(logic): убраны заглушки в профиле, добавлена смена класса, оживлена кнопка 'Завершить' с расчетом XP и LevelUp
  backend/game/views.py
  frontend/pages/missions/[id].jsx
  frontend/pages/profile.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

feat(ui): smooth animated theme toggle with sliding pill
  frontend/components/Layout.jsx
Due: frontend-lint, frontend-build

feat(game): блокировка выбора класса до прохождения вводного курса
  backend/game/models.py
  backend/game/urls.py
  backend/game/views.py
  frontend/lib/class.js
  frontend/lib/i18n.js
  frontend/pages/class.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

feat: implement inventory system (ai summon, hint scroll, skeleton scroll)
  backend/users/models.py
  backend/users/urls.py
  backend/users/views.py
  frontend/components/CodeRunnerPanel.jsx
  frontend/lib/api.js
  frontend/pages/missions/[id].jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

feat: implement inventory system (ai summon, hint scroll, skeleton scroll)
  .vscode/settings.json
  frontend/components/AdventureMap.jsx
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/lib/i18n.js
  frontend/pages/worlds/[id].jsx
  scripts/check-i18n.js
Due: frontend-lint, frontend-build

fix(i18n): исправлен путь импорта словарей после разделения
  frontend/lib/i18n.js
Due: frontend-lint, frontend-build

chore(db): отсутствующие миграции для инвентаря и intro-флага
  backend/game/migrations/0009_track_is_intro.py
  backend/users/migrations/0003_profile_ai_summons_profile_hint_scrolls_and_more.py
Due: backend-test, backend-build-image, smoke-backend-image

feat(runner): стриминговый терминал в квестах (xterm.js + Channels)
  backend/core/asgi.py
  backend/core/middleware.py
  backend/core/settings/base.py
  backend/core/settings/test.py
  backend/game/consumers.py
  backend/game/routing.py
  backend/game/runner.py
  backend/game/tests/test_runner_ws.py
  backend/requirements.txt
  docker-compose.yml
  frontend/components/CodeRunnerPanel.jsx
  frontend/components/Terminal.jsx
  frontend/lib/api.js
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/_app.js
  frontend/pages/missions/[id].jsx
  pytest.ini
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

fix(audit): 26/26 тесты зелёные, 0 ESLint предупреждений, чистый билд
  backend/game/views.py
  frontend/components/Layout.jsx
  frontend/next.config.js
  frontend/pages/index.js
  frontend/pages/leaderboard.jsx
  frontend/pages/profile.jsx
  frontend/pages/worlds/[id].jsx
  frontend/pages/worlds/index.js
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

feat: Gemini AI-ассистент + вводный курс + улучшенная Django Admin
  backend/core/settings/base.py
  backend/game/admin.py
  backend/game/fixtures/intro_course.json
  backend/game/urls.py
  backend/game/views.py
  backend/requirements.txt
  frontend/components/CodeRunnerPanel.jsx
  frontend/lib/api.js
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

feat: 7 prod features (rate-limit, email verify, 404, skeletons, QA)
  backend/game/views.py
  backend/requirements.txt
  backend/users/models.py
  backend/users/urls.py
  backend/users/views.py
  docs/QA_CHECKLIST.md
  frontend/lib/api.js
  frontend/pages/404.jsx
  frontend/pages/_app.js
  frontend/pages/leaderboard.jsx
  frontend/pages/profile.jsx
  frontend/pages/veify/[token].js
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

fix: ratelimit environment install and verify folder rename
  frontend/pages/verify/[token].js
Due: frontend-lint, frontend-build

docs: обновлена документация — актуальный стек, API-таблица, расширенный QA-чеклист
  README.md
  docs/QA_CHECKLIST.md
Due: none

fix(auth): починен полный флоу регистрация → верификация → логин → профиль
  backend/core/settings/base.py
  backend/tests/test_auth.py
  backend/users/views_auth.py
  frontend/pages/profile.jsx
  frontend/pages/register.jsx
  frontend/pages/verify-email.js
  frontend/pages/verify/[token].js
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

docs: complete pre-deployment QA checklist + .env.example
  .env.example
  .gitignore
  docs/QA_CHECKLIST.md
Due: none

fix(admin,frontend): unblock manual testing — Progress admin crash + duplicate /worlds page
  backend/game/admin.py
  frontend/pages/worlds/index.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

fix(profile): return username/email/inventory + accept PATCH on /profile/me/
  backend/users/views.py
  frontend/lib/api.js
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

fix(profile, cursor, fixtures): полный аудит и стабилизация перед демо
  backend/game/fixtures/class_roles.json
  backend/game/fixtures/ranks.json
  frontend/components/CustomCursor.jsx
  frontend/pages/missions/[id].jsx
  frontend/styles/globals.css
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

chore(cleanup): убраны фантомные роуты, добавлена недостающая миграция
  backend/users/migrations/0004_emailverificationtoken.py
  frontend/pages/Button.jsx
  frontend/pages/Card.jsx
  frontend/pages/REDESIGN_README.md
  frontend/pages/XPBar.jsx
  frontend/pages/api/auth/jwt/create.js
  frontend/pages/api/auth/jwt/refresh.js
  frontend/pages/api/missions/[id].js
  frontend/pages/api/missions/[id]/complete.js
  frontend/pages/api/missions/[id]/start.js
  frontend/pages/api/missions/index.js
  frontend/pages/api/profile/me.js
  frontend/pages/api/runner/execute.js
  frontend/pages/package.json
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

fix(auth): DEBUG-режим авто-активирует новый аккаунт + UX для pending verify
  backend/users/views_auth.py
  frontend/pages/login.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

fix(auth): validate email uniqueness on registration
  backend/users/serializers_auth.py
Due: backend-test, backend-build-image, smoke-backend-image

fix(auth): validate password strength on registration
  backend/core/settings/base.py
  backend/users/serializers_auth.py
Due: backend-test, backend-build-image, smoke-backend-image

fix(login): add field validation and error logging
  frontend/pages/login.jsx
Due: frontend-lint, frontend-build

debug(api): add detailed logging to login function
  frontend/lib/api.js
Due: frontend-lint, frontend-build

feat(auth): support login with email or username
  backend/users/urls_auth.py
  backend/users/views_auth.py
Due: backend-test, backend-build-image, smoke-backend-image

cleanup: remove debug logging from login
  frontend/lib/api.js
  frontend/pages/login.jsx
Due: frontend-lint, frontend-build

fix(login): increase toast notification duration
  frontend/pages/login.jsx
Due: frontend-lint, frontend-build

fix(login): clean up success toast and add safe delay before redirect
  frontend/pages/login.jsx
Due: frontend-lint, frontend-build

fix: hide page transition overlay to prevent unwanted animations
  frontend/components/Layout.jsx
Due: frontend-lint, frontend-build
