Repository amangalieversynstudy/diplom-work-main: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

Path conditions:
  frontend-lint: any of: frontend/**/*, .gitlab-ci.yml
  frontend-build: any of: frontend/**/*, .gitlab-ci.yml
  backend-test: any of: backend/**/*, tests/**/*, .gitlab-ci.yml
  backend-build-image: any of: backend/**/*, .gitlab-ci.yml
  smoke-backend-image: any of: backend/**/*, .gitlab-ci.yml

chore: trim verbose scheduler docstring
  backend/game/scheduler.py
Due: backend-test, backend-build-image, smoke-backend-image

feat(admin): brand the Django admin with jazzmin
  backend/core/settings/base.py
  backend/requirements.txt
Due: backend-test, backend-build-image, smoke-backend-image

chore: remove unused duplicates, stale reports and extra docs
  .vscode/settings.json
  Dockerfile.frontend
  Procfile
  diagnostics/contract/test_openapi_schemathesis.py
  diagnostics/load/k6-missions.js
  diagnostics/postman/Local.postman_environment.json
  diagnostics/postman/RPG.postman_collection.json
  diagnostics/terminal_errors_and_fixes.md
  docs/DEPLOY_SSL.md
  docs/PRODUCTION_AUDIT.md
  docs/QA_CHECKLIST.md
  docs/QA_E2E_REPORT.md
  docs/exercises_report.html
  docs/exercises_report.md
  docs/file_overview.md
  docs/internet_deploy_plan.md
  docs/janitore_instructions.txt
  docs/progress_report.md
  docstring-report-local.txt
  package-lock.json
  package.json
  project-file-report.md
  project_full_problems_and_fixes_report.txt
  qa/postman_negative_auth.json
  requirements.txt
  scripts/create_mr.sh
Due: none

docs: fix dead links and stale GitLab references in README
  README.deploy.md
  README.md
Due: none

docs: rewrite deploy guide for Railway + Vercel
  README.deploy.md
  README.md
Due: none

feat(missions): whole scene reacts to task outcome
  frontend/components/CodemancerStage.jsx
Due: frontend-lint, frontend-build

test: disable django_find_project so a parent manage.py can't shadow apps
  pytest.ini
Due: none

fix(security): require auth by default and remove the open /api/users/ endpoint
  backend/core/settings/base.py
  backend/tests/test_permissions.py
  backend/users/urls.py
  backend/users/views.py
  backend/users/views_password.py
Due: backend-test, backend-build-image, smoke-backend-image

fix(security): disable the unsafe code-runner fallback by default and log Judge0 failures
  README.deploy.md
  README.md
  backend/core/settings/base.py
  backend/core/settings/local.py
  backend/core/settings/production.py
  backend/core/settings/test.py
  backend/game/runner.py
  backend/game/tests/test_runner_fallback_gate.py
Due: backend-test, backend-build-image, smoke-backend-image

fix(deploy): drop the built-in teacher code and stop rewriting the course on every start
  .env.example
  README.deploy.md
  README.md
  backend/core/settings/production.py
  backend/game/management/commands/seed_course.py
  backend/tests/test_seed_course.py
  backend/tests/test_teacher_registration.py
  deploy.sh
  railway.toml
Due: backend-test, backend-build-image, smoke-backend-image

feat(grading): grade tasks and complete missions on the server
  backend/core/settings/base.py
  backend/game/consumers.py
  backend/game/serializers.py
  backend/game/services.py
  backend/game/tests/test_missions_api.py
  backend/game/tests/test_new_gameplay_api.py
  backend/game/tests/test_runner_fallback_gate.py
  backend/game/tests/test_runner_grading_ws.py
  backend/game/throttles.py
  backend/game/views.py
  backend/tests/test_achievements.py
  backend/tests/test_grading.py
  conftest.py
Due: backend-test, backend-build-image, smoke-backend-image

feat(frontend): let the server decide what is solved
  backend/game/consumers.py
  backend/game/tests/test_runner_grading_ws.py
  frontend/components/CodeRunnerPanel.jsx
  frontend/components/MissionStepper.jsx
  frontend/lib/api.js
  frontend/pages/missions/[id].jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

fix(runner): stream the local fallback with threads so it works on Windows
  backend/game/runner.py
  backend/game/tests/test_runner_fallback_gate.py
Due: backend-test, backend-build-image, smoke-backend-image

feat(analytics): record a digital footprint of code runs and learning events
  .env.example
  README.deploy.md
  backend/core/settings/base.py
  backend/game/admin.py
  backend/game/consumers.py
  backend/game/footprint.py
  backend/game/management/commands/export_learning_data.py
  backend/game/management/commands/prune_learning_data.py
  backend/game/migrations/0012_learning_footprint.py
  backend/game/models.py
  backend/game/runner.py
  backend/game/services.py
  backend/game/tests/test_runner_grading_ws.py
  backend/game/throttles.py
  backend/game/urls.py
  backend/game/views.py
  backend/tests/test_footprint.py
  backend/users/migrations/0008_learning_footprint.py
  backend/users/models.py
  backend/users/serializers_auth.py
  backend/users/views.py
  backend/users/views_auth.py
  frontend/components/AIMentorChat.jsx
  frontend/components/CodeRunnerPanel.jsx
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/lib/api.js
  frontend/pages/missions/[id].jsx
  frontend/pages/profile.jsx
  frontend/pages/register.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

feat(analytics): add learning-effectiveness metrics and dashboard
  backend/game/analytics_views.py
  backend/game/metrics.py
  backend/game/urls.py
  backend/tests/test_metrics.py
  docs/METRICS.md
  frontend/components/LearningMetrics.jsx
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/lib/api.js
  frontend/pages/analytics.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

feat(analytics): offer help after three failures and add an early warning list
  backend/game/analytics_views.py
  backend/game/footprint.py
  backend/game/migrations/0013_help_offered_event.py
  backend/game/models.py
  backend/game/serializers.py
  backend/game/services.py
  backend/game/urls.py
  backend/game/views.py
  backend/game/warning.py
  backend/tests/test_early_warning.py
  backend/tests/test_teacher_students.py
  docs/METRICS.md
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/lib/api.js
  frontend/pages/missions/[id].jsx
  frontend/pages/teacher.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

feat(analytics): add a drop-out risk model pipeline and use it in early warning
  .env.example
  .gitignore
  backend/core/settings/base.py
  backend/game/management/commands/export_risk_features.py
  backend/game/risk.py
  backend/game/warning.py
  backend/tests/test_risk.py
  docs/METRICS.md
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/pages/teacher.jsx
  ml/README.md
  ml/requirements.txt
  ml/risk/__init__.py
  ml/risk/oulad.py
  ml/risk/schema.py
  ml/risk/train.py
  ml/tests/conftest.py
  ml/tests/test_oulad.py
  ml/tests/test_train.py
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

fix(security): close the remaining scan findings (F4, F9, F10, F13, F15, F16)
  backend/game/runner.py
  backend/tests/test_account_security.py
  backend/tests/test_auth.py
  backend/users/migrations/0009_email_verification_pending.py
  backend/users/models.py
  backend/users/serializers_auth.py
  backend/users/tokens.py
  backend/users/validators.py
  backend/users/views.py
  backend/users/views_auth.py
  backend/users/views_password.py
Due: backend-test, backend-build-image, smoke-backend-image

feat(pilot): add a randomised help prompt, readiness check and weekly report
  .env.example
  backend/core/settings/base.py
  backend/game/footprint.py
  backend/game/management/commands/pilot_check.py
  backend/game/management/commands/pilot_report.py
  backend/game/management/commands/set_course_owner.py
  backend/game/pilot.py
  backend/game/services.py
  backend/tests/test_pilot.py
  docs/PILOT.md
Due: backend-test, backend-build-image, smoke-backend-image

fix(frontend): keep the rotated refresh token so learners stay signed in
  frontend/lib/api.js
Due: frontend-lint, frontend-build

chore(backend): remove dead code, unused fields and Celery
  .env.example
  Makefile
  backend/README.md
  backend/core/__init__.py
  backend/core/celery.py
  backend/core/settings/base.py
  backend/core/settings/test.py
  backend/game/admin.py
  backend/game/fixtures/intro_course.json
  backend/game/migrations/0014_remove_unused_fields_and_token.py
  backend/game/models.py
  backend/game/serializers.py
  backend/game/throttles.py
  backend/game/views.py
  backend/requirements.txt
  backend/users/migrations/0010_remove_unused_fields_and_token.py
  backend/users/models.py
  backend/users/serializers.py
  backend/users/urls_auth.py
  docker-compose.prod.yml
  docker-compose.yml
Due: backend-test, backend-build-image, smoke-backend-image

chore(frontend): remove dead components and orphan text, fix logout and intro status
  frontend/components/FeaturesSection.jsx
  frontend/components/HeroAvatar.jsx
  frontend/components/Layout.jsx
  frontend/components/Skeleton.jsx
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/lib/api.js
  frontend/lib/avatar.js
  frontend/lib/class.js
  frontend/lib/language.js
  frontend/pages/leaderboard.jsx
  frontend/pages/profile.jsx
Due: frontend-lint, frontend-build

feat(studio): let teachers author mission tasks and publish only finishable missions
  backend/game/studio.py
  backend/game/urls.py
  backend/tests/test_studio_tasks.py
  frontend/components/StudioTasks.jsx
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/lib/api.js
  frontend/pages/missions/[id].jsx
  frontend/pages/studio/[id].jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

fix(frontend): sanitize teacher-written task HTML before rendering
  frontend/lib/sanitize.js
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/missions/[id].jsx
Due: frontend-lint, frontend-build

fix(deploy): make the VPS compose file start and pass pilot settings
  deploy/setup_vps.sh
  docker-compose.prod.yml
  docker-compose.yml
Due: none

ci: check every branch, model drift, dictionaries, ML tests and compose files
  .github/workflows/ci.yml
  scripts/check-i18n.js
Due: none

fix(inventory): spend items and AI summons atomically
  backend/game/views.py
  backend/tests/test_inventory_races.py
  backend/users/models.py
Due: backend-test, backend-build-image, smoke-backend-image

fix(frontend): readable colors, a usable code editor, real navigation, honest landing
  frontend/components/AnimatedHero.jsx
  frontend/components/Button.jsx
  frontend/components/CodeRunnerPanel.jsx
  frontend/components/ConfirmModal.jsx
  frontend/components/CustomCursor.jsx
  frontend/components/Layout.jsx
  frontend/components/MissionStepper.jsx
  frontend/components/Terminal.jsx
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/lib/editorKeys.js
  frontend/lib/i18n.js
  frontend/pages/_app.js
  frontend/pages/_document.js
  frontend/pages/class.jsx
  frontend/pages/confirm-email.jsx
  frontend/pages/index.js
  frontend/pages/missions/[id].jsx
  frontend/pages/profile.jsx
  frontend/pages/verify-email.js
  frontend/pages/worlds/index.js
  frontend/styles/globals.css
  frontend/tailwind.config.js
Due: frontend-lint, frontend-build

fix(frontend): skip link and readable, announced form errors
  frontend/components/Layout.jsx
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/pages/confirm-email.jsx
  frontend/pages/forgot-password.jsx
  frontend/pages/login.jsx
  frontend/pages/register.jsx
  frontend/pages/reset-password-confirm.jsx
  frontend/pages/verify-email.js
Due: frontend-lint, frontend-build

feat(frontend): phone layout for the mission page and the world map
  frontend/components/CodeRunnerPanel.jsx
  frontend/components/CodemancerStage.jsx
  frontend/components/MissionPath.jsx
  frontend/components/MissionStepper.jsx
  frontend/dictionaries/en.js
  frontend/dictionaries/ru.js
  frontend/pages/missions/[id].jsx
  frontend/pages/worlds/index.js
Due: frontend-lint, frontend-build
