Repository amangalieversynstudy/diplom-work-main: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

frontend-lint:
  image: node:20-alpine
  stage: lint
  cache:
    key: frontend-node
    paths:
    - frontend/node_modules/
    policy: pull-push
  script:
  - cd frontend
  - npm ci --no-audit --no-fund || npm install --no-audit --no-fund
  - npx next lint || true

frontend-build:
  image: node:20-alpine
  stage: frontend
  needs:
  - frontend-lint
  cache:
    key: frontend-node
    paths:
    - frontend/node_modules/
    policy: pull
  variables:
    NEXT_TELEMETRY_DISABLED: 1
  script:
  - cd frontend
  - npm ci --no-audit --no-fund || npm install --no-audit --no-fund
  - npm run build
  artifacts:
  ...

backend-test:
  image: python:3.11-slim
  stage: test
  before_script:
  - apt-get update && apt-get install -y --no-install-recommends build-essential libpq-dev && rm -rf /var/lib/apt/lists/*
  - pip install --no-cache-dir -r backend/requirements.txt
  script:
  - python -m pytest -q

backend-build-image:
  image: docker:27.2.0
  services:
  - name: docker:27.2.0-dind
    alias: docker
    command:
    - --tls=false
  stage: build
  variables:
    DOCKER_BUILDKIT: 1
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  needs:
  - backend-test
  before_script:
  - apk add --no-cache bash
  ...

smoke-backend-image:
  image: docker:27.2.0
  services:
  - name: docker:27.2.0-dind
    alias: docker
    command:
    - --tls=false
  stage: smoke
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_DRIVER: overlay2
  needs:
  - job: backend-build-image
    optional: true
  before_script:
  ...

fix(ux): eliminate page flash and overlay glitch on auth flows
  frontend/components/Layout.jsx
  frontend/pages/login.jsx
Due: frontend-lint, frontend-build

fix(transitions): restore correct page transition overlay behavior
  frontend/components/Layout.jsx
Due: frontend-lint, frontend-build

fix(ui): define --accent CSS variable and skip overlay on same-page nav
  frontend/components/TransitionLink.jsx
  frontend/styles/globals.css
Due: frontend-lint, frontend-build

feat(class): save class_role to backend on class selection
  frontend/pages/class.jsx
  frontend/pages/profile.jsx
Due: frontend-lint, frontend-build

fix(profile): show correct class name matching frontend i18n
  frontend/pages/profile.jsx
Due: frontend-lint, frontend-build

feat(profile): add MVP skill tree visualization
  frontend/components/SkillTree.jsx
  frontend/pages/profile.jsx
Due: frontend-lint, frontend-build

feat(class+auth): skill-tree UI on /class + polished verify-email screen
  frontend/lib/language.js
  frontend/pages/class.jsx
  frontend/pages/login.jsx
  frontend/pages/verify-email.js
  frontend/pages/worlds/index.js
  qa/postman_negative_auth.json
Due: frontend-lint, frontend-build

chore: save uncommitted changes on main before branch merge
  backend/game/fixtures/class_roles.json
  backend/game/fixtures/ranks.json
  backend/users/views_auth.py
  frontend/components/CustomCursor.jsx
  frontend/pages/login.jsx
  frontend/pages/missions/[id].jsx
  frontend/styles/globals.css
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

feat(prod): rate-limit AI, SMTP env, cloudflare CSRF, AdventureMap class keys
  backend/core/settings/base.py
  backend/core/settings/production.py
  backend/game/views.py
  frontend/components/AdventureMap.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

chore: simplify code style, add rate-limit on AI, prod SMTP/CSRF env, full QA checklist
  .gitignore
  backend/game/admin.py
  backend/game/consumers.py
  backend/game/runner.py
  backend/game/views.py
  docs/QA_CHECKLIST.md
  frontend/components/Terminal.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

chore: prod-ready settings, code style cleanup, full QA checklist, VPS deploy infra
  .env.example
  backend/game/views.py
  deploy/nginx.conf
  deploy/setup_vps.sh
Due: backend-test, backend-build-image, smoke-backend-image

fix(runner): encode Cyrillic output-truncated marker as utf-8 instead of byte literal
  backend/game/runner.py
Due: backend-test, backend-build-image, smoke-backend-image

chore(cleanup): simplify serializers, fix duplicate fields/methods in game.serializers
  backend/game/serializers.py
  backend/users/serializers.py
  backend/users/serializers_auth.py
  backend/users/views.py
Due: backend-test, backend-build-image, smoke-backend-image

test(auth): use stronger passwords matching validate_password rules
  backend/tests/test_auth.py
Due: backend-test, backend-build-image, smoke-backend-image

fix(cursor): update custom cursor behavior and styles for better responsiveness
  backend/game/management/commands/load_demo_content.py
  frontend/components/CustomCursor.jsx
  frontend/styles/globals.css
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

Fix three critical bugs: terminal clear error, mission replay, and stepper lock issue
  backend/game/views.py
  backend/users/fixtures/test_users.json
  docs/QA_CHECKLIST.md
  frontend/components/CodeRunnerPanel.jsx
  frontend/components/MissionStepper.jsx
  frontend/lib/api.js
  frontend/pages/class.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

feat: block locked missions on frontend with prerequisite screen
  frontend/pages/missions/[id].jsx
Due: frontend-lint, frontend-build

docs: rewrite Module 4 (Class Selection) to match actual skill-tree UI
  docs/QA_CHECKLIST.md
Due: none

feat(class): allow free class switching after initial pick
  frontend/pages/class.jsx
Due: frontend-lint, frontend-build

chore: remove SkillTree stub, fix XPBar, add production audit
  docs/PRODUCTION_AUDIT.md
  docs/QA_CHECKLIST.md
  frontend/components/SkillTree.jsx
  frontend/pages/profile.jsx
Due: frontend-lint, frontend-build

feat: massive audit fixes — 20 of 24 issues from PRODUCTION_AUDIT closed
  .env.example
  .github/workflows/ci.yml
  backend/core/settings/production.py
  backend/game/apps.py
  backend/game/signals.py
  backend/game/views.py
  backend/users/models.py
  backend/users/serializers.py
  backend/users/views.py
  backend/users/views_auth.py
  docker-compose.prod.yml
  docker-compose.yml
  docs/PRODUCTION_AUDIT.md
  docs/QA_CHECKLIST.md
  frontend/components/ConfirmModal.jsx
  frontend/components/PaywallModal.jsx
  frontend/lib/api.js
  frontend/lib/logger.js
  frontend/pages/api/payments/checkout.js
  frontend/pages/class.jsx
  frontend/pages/missions/[id].jsx
  frontend/pages/profile.jsx
  frontend/pages/worlds/index.js
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

Fix TC-RANK-01: rank chip display and auto-update on level-up
  backend/tests/test_profile.py
  frontend/pages/missions/[id].jsx
  frontend/pages/profile.jsx
Due: frontend-lint, frontend-build, backend-test, backend-build-image, smoke-backend-image

ШАГ 1: DRF throttling для AI/Runner + Redis cache + Gemini fixes
  backend/core/settings/base.py
  backend/game/throttles.py
  backend/game/views.py
Due: backend-test, backend-build-image, smoke-backend-image

ШАГ 2: жёсткие security-тесты sandbox + QA E2E-отчёт для диплома
  backend/game/tests/test_sandbox_security.py
  docs/QA_E2E_REPORT.md
Due: backend-test, backend-build-image, smoke-backend-image

ШАГ 3: production deploy — nginx + Let's Encrypt + полный compose
  docker-compose.prod.yml
  docs/DEPLOY_SSL.md
  nginx.bootstrap.conf
  nginx.conf
Due: none

Бюджетный демо-деплой: .env.prod.example + deploy.sh + DuckDNS
  deploy.sh
  scripts/duckdns-update.sh
Due: none

Add Procfile for Railway deployment
  Procfile
Due: none

Fix Railway deployment config + secure SSH keys
  .gitignore
  Procfile
  railway.json
  requirements.txt
Due: none

Path conditions:
  frontend-lint: any of: frontend/**/*, .gitlab-ci.yml
  frontend-build: any of: frontend/**/*, .gitlab-ci.yml
  backend-test: any of: backend/**/*, tests/**/*, .gitlab-ci.yml
  backend-build-image: any of: backend/**/*, .gitlab-ci.yml
  smoke-backend-image: any of: backend/**/*, .gitlab-ci.yml
